# Python
__pycache__/
*.py[cod]
*.db
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep
